{% load static %}


<html>
  <head>
    <meta charset="utf-8"/>
    <title>
      Blog
    </title>
    <link href="{% static 'blog/css/normalize.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <ul>
        <!-- from here -->
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'blog:index' %}">
            Blog list
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            Log out
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">
            Login
          </a>
        </li>
        {% endif %}
        <!-- So far -->
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
                {% endblock %}
      </div>
    </main>
  </body>
</html>